body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 600px;
    text-align: center;
    margin: auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
    font: 15pt Arial, sans-serif;
    margin-top: 10%;
    padding: 20px;
    box-sizing: border-box;
}
.footer {
    padding: 10px;
    color: #555555;
    font-size: 12pt;
}
.vale {
    width: 100%;
    height: 150px;
    background-color: #2e7d32; /* Verde mais escuro */
    font: 16pt 'Arial', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}